<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/vecteurs-libre/logo-vecteur-moto_20448-45.jpg?w=2000);">
  <div class="container">
    <h1>Find your <strong>road</strong></h1>
    <p>Rent a moto</p>
    <%= link_to "Find mine", motos_path, class: "btn btn-ghost"%>
  </div>
</div>
