<div class="container">
  <div class="row justify-content-around mb-4">
    <div class="card-trip col m-2 pt-2 ">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Moto</h2>
          <p>à vous la liberté!</p>
        </div>
        <h2 class="card-trip-pricing">149€ / jour</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>

    <div class="card-trip col m-2 pt-2">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Moto</h2>
          <p>à vous la liberté!</p>
        </div>
        <h2 class="card-trip-pricing">149€ / jour</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>

    <div class="card-trip col m-2 pt-2">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Moto</h2>
          <p>à vous la liberté!</p>
        </div>
        <h2 class="card-trip-pricing">149€ / jour</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  </div>
</div>
