<%= render './shared/banner' %>
<div class="container">
  <h2 class="text-center my-3">Les dernières offres</h2>
  <%= render './shared/cards' %>
  <div class="mx-auto">
    <%= link_to "Voir tout", motos_path, class: "btn btn-outline-secondary" %>
    <%= link_to "Ajouter une offre", new_moto_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
