.card-product {

  overflow: hidden;
  height: 700px;
  width: 100%;
  background: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
}

.card-product-img {
  height: 600px;
  width: 60%;
  object-fit: scale-down;
  border: solid 0, 4px grey;
  margin: 8px;
}

.card-product h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 1px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 100px;
}
