.navbar-lewagon {
  justify-content: space-between;
  background: rgba(120, 122, 145, 0.8);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  object-fit: cover;
}
